/*CSS CONTAINER*/
.myContainer {
    margin-top: 100px;
    min-height: 400px;
}

.myContainer .row {
    text-align: center;
}

/*CSS CARD BOOK*/
.my-card {
    height: 420px;
    width: 12rem;
    margin: 10px;
}


.my-card-title {
    font-size: medium;
}